{
  "extends": "satya164",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".tsx", ".android.tsx", ".ios.tsx", ".native.js"]
      }
    }
  },
  "rules": {
    "jest/no-duplicate-hooks": "off",
    "jest/no-export": "off",
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "printWidth": 100,
        "singleQuote": true,
        "semi": true,
        "trailingComma": "all"
      }
    ]
  }
}
