{
  "extends": "react-native-wcandillon",
  "ignorePatterns": ["lib/**/*"],
  "rules": {
    "no-bitwise": 0,
    "import/extensions": [
      2,
      {
        "extensions": [
          ".ts",
          ".tsx"
        ]
      }
    ],
    "import/no-named-as-default-member": 0
  },
  "env": {
    "jest": true
  }
}